@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><strong>Welcome to Effortless Kitchen</strong></h3>
    <h4>Affordable, great experiences are in your near future!</h4>
</div>
