@model IEnumerable<EffortlessKitchen.Models.ViewModels.ChooseChefViewModel>

@{
    ViewData["Title"] = "ChooseChef";
}

<h2>First, you will need to select your chef!</h2>
<br />

<div class="btn-group btn-group-toggle">
    <form>
        @foreach (var item in Model)
        {
            <label class="btn btn-light">
                <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.ChefId" class="text-decoration-none text-dark">
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
                </a>
            </label>
        }
    </form>
</div>
