@model IEnumerable<EffortlessKitchen.Models.ViewModels.ChooseChefViewModel>

@{
    ViewData["Title"] = "ChooseChef";
}

<div class="d-flex flex-wrap justify-content-between header-stuff">
    <h3>Reservations</h3>
    <a type="button" class="btn btn-light btn-lg pt-2" asp-action="OrderHistory">Order History</a>
</div>
<br/>
<div class="d-block text-center">
    <h4>To create a new reservation, choose a chef below!</h4>
</div>
<br/>

<div class="btn-group btn-group-toggle d-flex flex-wrap justify-content-around">
    <form>
        @foreach (var item in Model)
        {
            <a type="button" asp-controller="Orders" asp-action="Create" asp-route-id="@item.ChefId" class="btn btn-success btn-lg mx-2 text-decoration-none text-light">
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
            </a>
        }
    </form>
</div>
