@model IEnumerable<EffortlessKitchen.Models.ViewModels.ChooseChefViewModel>

@{
    ViewData["Title"] = "ChooseChef";
}

<div class="d-flex flex-wrap">
    <h2 class="col-6">First, you will need to select your chef!</h2>
    <p class="col-6">
        <a type="button" class="btn btn-light" asp-action="OrderHistory">Order History</a>
    </p>
    </div>
<br />

<div class="btn-group btn-group-toggle">
    <form>
        @foreach (var item in Model)
        {
            <label class="btn btn-light">
                <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.ChefId" class="text-decoration-none text-dark">
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
                </a>
            </label>
        }
    </form>
</div>
